parameters:
  reportUnmatchedIgnoredErrors: false
  tmpDir: var/phpstan

  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics

  paths:
    - src
    - tests

  level: 7

